body {
  background-color: red;
  background-image: url(c5d44a1c2cfdbedb886fc6bc5580c602.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

